<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="home">
		<div class="slider">
			<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
				<div data-src="images/slider8.jpg"></div>
				<div data-src="images/slider9.jpg"></div>
				<div data-src="images/slider10.jpg"></div>
				<div data-src="images/slider11.jpg"></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--End-image-slider---->
		<!---start-content---->
		<div class="content">
			<div class="top-grids">
				<div class="wrap">
					<div class="top-grid">
						<a href="#"> <img src="images/icon1.png" title="icon-name">
						</a>
						<h3>Cà Phê Rang Xay</h3>
						<p>Cà Phê Rang XayCà Phê Rang XayCà Phê Rang XayCà Phê Rang
							Xay.</p>
						<a class="button" href="about.html">Xem Thêm</a>
					</div>
					<div class="top-grid">
						<a href="#"> <img src="images/icon2.png" title="icon-name">
						</a>
						<h3>Cà Phê Hạt</h3>
						<p>Cà Phê HạtCà Phê HạtCà Phê HạtCà Phê HạtCà Phê HạtCà Phê
							Hạt</p>
						<a class="button" href="services.html">Xem Thêm</a>
					</div>
					<div class="top-grid last-topgrid">
						<a href="#"> <img src="images/icon3.png" title="icon-name">
						</a>
						<h3>Cà Phê Bôt</h3>
						<p>Cà Phê BôtCà Phê BôtCà Phê BôtCà Phê BôtCà Phê BôtCà Phê
							Bôt.</p>
						<a class="button" href="contact.html">Xem Thêm</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="mid-grid">
				<div class="wrap">
					<h1>Chào mừng đến với trang web của chúng tôi!</h1>
					<h2>Bạn đang tìm kiếm những sản phẩm cà phê chất lượng ?</h2>
					<p>Chung tôi cung cấp những sản phẩm chất lượng nhất từ cà phê
						của Gia lai .</p>
					<a class="button1" href="#">Xem Thêm</a>
				</div>
			</div>
			<div class="bottom-grids">
				<div class="wrap">
					<div class="bottom-grid1">
						<h3>Cà Phê Rang Xay</h3>
						<span>Là loại hạt cà phê nguyên chất đặc biệt, được chọn
							lọc từ những hạt cà phê Gia Lai, với công thức chế biến gia
							truyền mang đến vị đắng đậm đà, nhưng lại có hương thơm dịu nhẹ,
							màu nước nâu, ít sách và không chua, đặc trưng cho cà phê phong
							cách Việt. Công thức dành riêng cho máy pha cà phê Espresso.</span>
						<div class="clear"></div>
						<a class="button" href="contact.html">Xem Thêm</a>
					</div>
					<div class="bottom-grid2 bottom-mid">
						<h3>Cà Phê Hạt</h3>
						<span>Là loại hạt cà phê nguyên chất đặc biệt, được chọn
							lọc từ những hạt cà phê Gia Lai, với công thức chế biến gia
							truyền mang đến vị đắng đậm đà, nhưng lại có hương thơm dịu nhẹ,
							màu nước nâu, ít sách và không chua, đặc trưng cho cà phê phong
							cách Việt. Công thức dành riêng cho máy pha cà phê Espresso.</span>
						<div class="clear"></div>
						<a class="button" href="gallery.html">Xem Thêm</a>
					</div>
					<div class=" bottom-grid1 bottom-last">
						<h3>Cà Phê Bột</h3>
						<span>Là loại hạt cà phê nguyên chất đặc biệt, được chọn
							lọc từ những hạt cà phê Gia Lai, với công thức chế biến gia
							truyền mang đến vị đắng đậm đà, nhưng lại có hương thơm dịu nhẹ,
							màu nước nâu, ít sách và không chua, đặc trưng cho cà phê phong
							cách Việt. Công thức dành riêng cho máy pha cà phê Espresso.</span>
						<div class="clear"></div>
						<a class="button" href="#">Xem Thêm</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>

			</div>
		</div>
	</div>

</body>
</html>