<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="hnav" class="header">
	<div class="wrap">
			<div class="top-header">
				<div class="logo">
					<a href="index.html">
						<img src="images/logo2.png" title="logo" />
					</a>
				</div>
				<div class="social-icons">
					<ul>
						<li>
							<a href="#">
								<img src="images/facebook.png" title="facebook" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/twitter.png" title="twitter" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/google.png" title="google pluse" />
							</a>
						</li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!-- -start-top-nav-- -->
			<div class="top-nav">
				<div class="top-nav-left">
					<ul>
						<li class="active">
							<a href="index.html">Trang Chủ</a>
						</li>
						<li>
							<a href="about.html">Giới Thiệu</a>
						</li>
						<li>
							<a href="services.html">Sản Phẩm </a>
						</li>
						<li>
							<a href="gallery.html">Khuyến Mãi</a>
						</li>
						<li>
							<a href="contact.html">Liên hệ</a>
						</li>
						<li>
							<a href="contact.html">Đăng Nhập</a>
						</li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-nav-right">

					<form>
						<input type="text">
						<input type="submit" value="" />
					</form>
				</div>
				<div class="clear"> </div>
			</div>
			<!---End-top-nav---->
		</div>
	</div>
</body>
</html>